BasedOnStyle: Chromium
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
BracedInitializerIndentWidth: 2
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveDeclarations: true
BinPackArguments: false
BinPackParameters: false
#BreakFunctionDefinitionParameters: true # clang-format 19
BreakAfterAttributes: Always
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
PackConstructorInitializers: Never
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 30
#PenaltyBreakComment: 10
#PenaltyBreakFirstLessLess: 0
#PenaltyBreakString: 10
#PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60000
IndentCaseLabels: false
InsertNewlineAtEOF: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: false
  AfterFunction: false
SortIncludes: CaseSensitive
# LineEnding: LF
MaxEmptyLinesToKeep: 1
